.index_block_big{
    height: 347px;
    width: 791px;
    margin-left: 39px;
    margin-top: 93px;
    background: #2D2A2A;
    position: relative;
}
body{
    background: #1B1A1C;
    color: aliceblue;
}
img {
    object-fit: cover;
}
a{
    color: aliceblue;
    text-decoration: none;
}
main{
    width: 58%;
    margin-left: 311px;
    margin-top: 0px;
    background: #000000;
    height: auto;
}
.button{
    width: 218px;
    height: 37px;
    background: #961FCE;
    text-align: center;
    color: aliceblue;
    line-height: 30px;
}
#header{
    background-color: #141313;
    width: 100%;
    height: 63px;
    margin-top: -4px;
}
.header_button{
    margin-top: 25px;
    margin-right: 100px;
}
.header_block{
    margin-left: 250px;
}
#header_signUp{
    margin-left: 250px;
}
#index_block_big_2{
    margin-top: 147px;
}


/* Главная */
/* первый блок */
#index_photo_1{
    left: 450px;
    top: 28px;
    position: absolute;
}
.index_photo_1_1{
    width: 292px;
    height: 292px;
    /*position: absolute;*/
}
#index_button_rospis{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 13px;
}
#index_text_1{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
#index_text_2{
    margin-top: 16px;
    width: 314px;
    height: 44px;
    background: #1A1717;
    text-align: center;
    transform: translate(-50%, 0%);
    margin-left: 50%;
}
#index_info_1{
    margin-top: 110px;
    position: absolute;
    width: 380px;
}
/* второй блок */
#index_info_2{
    margin-left: 413px;
    margin-top: 110px;
    position: absolute;
    width: 380px;
}
#index_text_3{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
#index_text_4{
    margin-top: 16px;
    width: 230px;
    height: 44px;
    background: #1A1717;
    text-align: center;
    transform: translate(-50%, 0%);
    margin-left: 50%;
}
#index_button_map{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 13px;
}
#index_photo_2{
    left: 50px;
    top: 28px;
    position: absolute;
}
/* Новости */
#index_news_text{
    margin-top: 234px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
.index_block_news{
    width: 83%;
    height: 262px;
    margin-left: 9%;
    margin-bottom: 94px;
    background: #2D2A2A;
    position: relative;
}
.index_photo_news{
    left: 33px;
    top: 33px;
    position: absolute;
    width: 196px;
    height: 196px;
}
.index_news_text_main{
    width: 50%;
    left: 40%;
    top: 71px;
    position: absolute;
    overflow: hidden;
    height: 150px;
}
.index_news_h1{
    position: absolute;
    top: 33px;
    left: 61%;
    transform: translate(-50%, 0%);
}
#index_pn_pt{
    position: absolute;
    top: 110px;
    left: 80%;
    height: 115px;
    width: 200;
    background-color: #000000;
    position: fixed;
}
#index_pn_pt_text{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 15px;
    height: 27px;
    width: 144px;
}
#index_pn_pt_button{
    width: 150px;
    height: 30px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 15px;
}

/* Расписание */
#time_button_1{
    width: 374px;
    height: 117px;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    background: linear-gradient(rgb(253, 0, 219), #961FCE);
}
#time_table{
    margin-top: 123px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 85%;
    background-color: #f7eded;
    border-color: aliceblue;
    border: 20px;
}
#time_table td{
    background-color: #2D2A2A;
    height: 80px;
    width: 120px;
    text-align: center;
}
.time_table_button{
    width: 150px;
    height: 25px;
    margin-left: 20px;
}
#time_form{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 85%;
    height: 189px;
    background-color: #2D2A2A;
    margin-top: 62px;
    margin-bottom: 200px;
    text-align: right;
}
.form_text{
    height: 29px;
    width: 182px;
    margin-left: 9px;
    margin-top: 10px;
    border-radius: 5px;
}
#time_form_button{
    transform: translate(50%, 0%);
    margin-right: 50%;
    margin-top: -10px;
}
#time_form_name{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    font-size: 115%;
    text-align: center;
    margin-top: 18px;
}
#time_form_field{
    margin-right: 0%;
    width: 88%;
    margin-top: 5px;
}
#time_form_field_1{
    position: absolute;
    right: 400px;
    top: 25px;
}

/* Каталог */
#catalog{
    margin-left: 61px;
    display: flex;
    flex-wrap: wrap;
}
.catalog_unit{
    height: 250px;
    width: 224px;
    margin-top: 73px;
    margin-right: 38px;
    background-color: #2D2A2A;
    text-align: center;
}
.catalog_unit_photo{
    width: 202px;
    height: 202px;
    margin-left: 11px;
    margin-top: 11px;
}
#catalog_button{
    width: 166px;
    height: 43px;
    left: 63%;
    top: 170px;
    position: absolute;
}
#catalog_count_text{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 66px;
    text-align: center;
    border-bottom: 2px solid #961FCE;
}

/* Экспонат */
#exhibit_block{
    margin-left: 5%;
    margin-top: 25px;
    width: 89%;
    background-color: #2D2A2A;
}
#exhibit_photo{
    width: 164px;
    height: 164px;
    margin-left: 24px;
    margin-top: 24px;
    float: left;
    margin-right: 20px;
}
#exhibit_text_1{
    width: 95%;
    margin-left: 5%;
    margin-top: 24px;
}
#exhibit_text_2{
    width: 95%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 24px;
}
#exhibit_button{
    margin-left: 48px;
    margin-top: 25px;
}

/* О музее */
#about_block_big{
    width: 789px;
    height: 381px;
    margin-top: 58px;
    margin-left: 37px;
    background-color: #2D2A2A;
    position: relative;
}
#about_block_map{
    position: absolute;
    top: 28px;
    left: 28px;
    width: 428px;
    height: 325px;
    background-color: #1B1A1C;
}
#about_block_text{
    position: absolute;
    top: 62px;
    left: 494px;
    height: 241px;
}
#about_text{
    margin-top: 163px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
.about_block_mini{
    margin-bottom: 68px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    width: 771px;
    height: 293px;
    position: relative;
    background-color: #2D2A2A;
}
.about_text{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
.about_block_photo{
    width: 223px;
    height: 223px;
    top: 35px;
    left: 23px;
    position: absolute;
}
.about_block_text{
    top: 35px;
    left: 269px;
    width: 478px;
    height: 223px;
    position: absolute;
}
#about_block_photo_2{
    left: 516px;
}
#about_block_text_2{
    left: 23px;
}

/* новости */
#news_any_text{
    margin-top: 181px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
#news_name_1{
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
#news_any{
    margin-left: 127px;
    margin-top: 14px;
    flex-wrap: wrap;
    display: flex;
}
.news_any{
    margin-right: 20px;
    margin-bottom: 18px;
    width: 237px;
    height: 90px;
    background: rgba(20, 19, 19, 0.47);
    position: relative;
}
.news_any_photo{
    width: 67px;
    height: 67px;
    top: 11px;
    left: 11px;
    position: absolute;
}
.news_any_text{
    top: 31px;
    left: 94px;
    position: absolute;
    height: 35px;
    width: 121px;
}

/* Регистрация */
.login_block{
    background-color: #2D2A2A;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    width: 70%;
    margin-top: 50px;
    justify-content: center;
}
#logic_button{
    margin-left: 147px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#login_exit{
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Создание нового экспоната */
#create_h1{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 10px;
    text-align: center;
}
#create_form{
    justify-content: center;
    margin-top: 30px;
}
.create_field{
    margin-top: 20px;
    transform: translate(-50%, 0%);
    margin-left: 50%;
    text-align: center;
}
#create_button{
    margin-bottom: 20px;
    margin-top: 0px;
}